.tm-tag::after {
	content: attr(data-tag);
	display: inline-block;
	padding: 1px 4px;
	border-radius: 4px;
	background: var(--bg);
	color: var(--color);
	margin: 0 0.25rem;
	vertical-align: baseline;
	font-size: 7pt;
}

.tm-tag__controls {
	z-index: 1000;
	top: var(--top);
	left: var(--left);
	position: absolute;
	background: #FFF;
	border-radius: 6px;
	box-shadow: 0px 2px 3px #00000038;
	font-size: 9pt;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	overflow: hidden;
	border: solid 1px #00000038;
	align-content: center;
}

.tm-tag__controls > a {
	color: #000;
	text-decoration: none;
	display: flex;
	padding: 2px 8px;
	align-items: center;
}

.tm-tag__controls > a:hover {
	text-decoration: underline;
}

.tm-tag__controls input[type="text"] {
	background: var(--bg);
	color: var(--color);
	font-family: inherit;
	font-size: 9pt;
	appearance: none;
	width: 120px;
	outline: 0;
	border: 0;
	border-radius: 6px;
	padding: 5px 8px;
}

.tm-tag__controls input[type="color"] {
	width: 38px;
	outline: 0;
	border: 0;
	background: none;
}

.tm-tag__controls > div {
	display: flex;
	align-items: center;
}

.tm-tag__controls > .button {
	display: inline-block;
	cursor: pointer;
	width: 38px;
	height: 38px;
	border: 0;
	padding: 0;
	appearance: auto;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.6;
}

.tm-tag__controls > .button:hover {
	opacity: 1.0;
}
