.tm-tag::after {
	content: attr(data-tag);
	display: inline-block;
	padding: 1px 4px;
	border-radius: 4px;
	background: var(--bg);
	color: var(--color);
	margin: 0 0.25rem;
	vertical-align: baseline;
	font-size: 7pt;
}

.tm-tag__controls {
	z-index: 1000;
	top: var(--top);
	left: var(--left);
	position: absolute;
	background: #FFF;
	border-radius: 6px;
	box-shadow: 0px 2px 3px #00000038;
	font-size: 9pt;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	overflow: hidden;
	border: solid 1px #00000038;
	align-content: center;
}

.tm-tag__controls > a {
	color: #000;
	text-decoration: none;
	display: flex;
	padding: 2px 8px;
	align-items: center;
}

.tm-tag__controls > a:hover {
	text-decoration: underline;
}

.tm-tag__controls input[type="text"] {
	background: var(--bg);
	color: var(--color);
	font-family: inherit;
	font-size: 9pt;
	appearance: none;
	width: 120px;
	outline: 0;
	border: 0;
	border-radius: 6px;
	padding: 5px 8px;
}

.tm-tag__controls input[type="color"] {
	width: 38px;
	outline: 0;
	border: 0;
	background: none;
}

.tm-tag__controls > div {
	display: flex;
	align-items: center;
}

.tm-tag__controls > .button {
	display: inline-block;
	cursor: pointer;
	width: 38px;
	height: 38px;
	border: 0;
	padding: 0;
	appearance: none;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.6;
}

.tm-tag__controls > .button:hover {
	opacity: 1.0;
}

.tm-tag__controls > .button.profile {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='176.8 162.88 398.4 426.23'%3E%3Cpath d='M479.4 266.29c0 57.105-46.293 103.4-103.4 103.4-57.102 0-103.39-46.293-103.39-103.4 0-57.102 46.293-103.39 103.39-103.39 57.105 0 103.4 46.293 103.4 103.39'/%3E%3Cpath d='M176.83 537.26c0 69.137 398.34 69.137 398.34 0 0-92.551-89.172-167.58-199.17-167.58s-199.17 75.027-199.17 167.58z' fill='%23000' /%3E%3C/svg%3E%0A");
	background-size: 14px auto;
	margin: 0 4px 0 0;
}

.tm-tag__controls > .button.save {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='195.55 251.68 360.62 248.65'%3E%3Cpath d='M523.8 257.23 325.89 455.14l-98.27-89.98a18.94 18.94 0 0 0-13.723-5.238 18.941 18.941 0 0 0-11.852 33.18l111.62 102.25a18.941 18.941 0 0 0 26.187-.567l210.74-210.74v-.004a18.95 18.95 0 0 0 4.907-18.309 18.95 18.95 0 0 0-13.402-13.402 18.962 18.962 0 0 0-18.31 4.906z' fill='%23000' /%3E%3C/svg%3E%0A");
	background-size: 16px auto;
	margin: 0 0 0 4px;
}

.tm-tag__controls > .button.close {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='256.17 233.43 261.45 261.45' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m406.79 364.16 106.08-106.55c5.684-5.684 5.684-14.68 0-19.891-5.684-5.684-14.68-5.684-19.891 0l-106.08 106.56-106.55-106.56c-5.684-5.684-14.68-5.684-19.891 0-5.684 5.684-5.684 14.68 0 19.891l106.08 106.55-106.08 106.56c-5.684 5.684-5.684 14.68 0 19.891 2.84 2.84 6.629 4.262 9.945 4.262 3.317 0 7.106-1.422 9.946-4.262l106.55-106.55 106.55 106.55c2.84 2.84 6.628 4.262 9.945 4.262 3.316 0 7.105-1.422 9.945-4.262 5.684-5.684 5.684-14.68 0-19.891z' fill='%23000'/%3E%3C/svg%3E");
	background-size: 14px auto;
}

